:root {
  /* Colors principal */
  --steelblue-50: #f3f7fc;
  --steelblue-100: #e6eff8;
  --steelblue-200: #c7ddf0;
  --steelblue-300: #96c0e3;
  --steelblue-400: #5da0d3;
  --steelblue-500: #367db5;
  --steelblue-600: #2868a1;
  --steelblue-700: #225382;
  --steelblue-800: #20486c;
  --steelblue-900: #1f3d5b;
  --steelblue-950: #15273c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--steelblue-50);
}

#btn-sobre {
  background-color: var(--steelblue-200);
  border: none;
  border-radius: 20px;
  color: black;
}

#btn-sobre:hover {
  background-color: var(--steelblue-300);
}

#btn-email {
  background-color: var(--steelblue-200);
  border: none;
  border-radius: 20px;
  color: black;
  width: 40px;
  align-items: center;
  justify-content: center;
}

#btn-email:hover {
  background-color: var(--steelblue-300);
}

#btn-ctt {
  background-color: var(--steelblue-200);
  width: 160px;
  border: none;
  color: black;
}

#btn-ctt:hover {
  background-color: var(--steelblue-300);
}

footer {
  background-color: var(--steelblue-100);
  padding: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .rede-social {
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.footer .logo {
  font-size: 1.5em;
}
.footer .rede-social a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.card-text {
  color: var(--steelblue-500);
}

.fake-btn {
  background-color: var(--steelblue-400);
}

i {
  padding-right: 5px;
}

#serviços {
  background-color: var(--steelblue-200);
}

#contato {
  background-image: url("../FIles/Decoração.png");
  background-size: cover;
}

#contate-nos {
  color: var(--steelblue-500);
}

input[type="text"] {
  background-color: var(--steelblue-100);
  border: none;
  border-radius: 10px;
}

input[type="text"]:focus {
  background-color: var(--steelblue-200);
}

input[type="email"] {
  background-color: var(--steelblue-200);
  border: none;
  border-radius: 10px;
}

input[type="email"]:focus {
  background-color: var(--steelblue-300);
}

#mensagem {
  background-color: var(--steelblue-300);
  border: none;
  border-radius: 10px;
}

#info {
  height: 350px;
  background-color: var(--steelblue-950);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border-radius: 20px;
}

@media (max-width: 950px) {
  #info {
    display: none;
  }
}

@media (max-width: 680px) {
  footer {
    display: none;
  }
}

.form-container {
  width: 80%; 
  max-width: 600px; 
}

@media (max-width: 768px) {
  .form-container {
      width: 90%; 
  }
  #img1 {
    padding-top: 10px;
  }
}

@media (max-width: 576px) {
  .form-container {
      width: 95%; 
  }
}

